/* Styles for the DataTable container */
.data-table-container {
  margin: 20px;
  overflow-x: auto;
}

/* Styles for the table */
.data-table-container table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial, sans-serif';
}

.data-table-container th,
.data-table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table-container th {
  background-color: #60cdff;
  color: #ffffff;
}

.data-table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table-container tr:hover {
  background-color: #2a4aa3;
  color: #ffffff;
}

/* Styles for the pagination component */
.page {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


/* Responsive Styles for DataTable */
@media (max-width: 1200px) {
  .data-table-container {
    margin: 10px;
  }


}

@media (max-width: 768px) {
  .data-table-container {
    margin: 5px;
  }


}

@media (max-width: 480px) {
  .data-table-container {
    margin: 0;
  }


}